@page
@model ConcertBuddies.Pages.Client.AlbumListModel
@{
    
}


<br />
<h2> List of Albums </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewAlbum"> New Album </a>
<div class="row">
    <div class="col-sm-12" style="padding-top:50px padding-bottom:20px">
        <form method="POST">
            <div class="col-md-4">
                <input type="file" id="fUpload" class="form-control" />
            </div>
            <div class="col-md-8">
                <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listAlbum)
        {
            <tr>
                <td>@item.name</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditPerson?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeletePerson?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>