@page
@model ConcertBuddies.Pages.Client.BandListModel
@{
}

<br />
<h2> List of Bands </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewBand"> New Band </a>
<div class="row">
    <div class="col-sm-12" style="padding-bottom:20px">
        <form enctype="multipart/form-data" method="POST">
            <input type="file" name="file" />
            <button type="submit">Import from Excel</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listBand)
        {
            <tr>
                <td>@item.name</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditBand?id=@item.ID&name=@item.name">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteBand?id=@item.ID&name=@item.name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>