@page
@model ConcertBuddies.Pages.Client.BandListModel
@{
}

<br />
<h2> List of Bands </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewBand"> New Band </a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listBand)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.name</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditConcert?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteConcert?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>