@page
@model ConcertBuddies.Pages.Client.ConcertListModel
@{
}

<br />
<h2> List of Concerts </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewConcert"> New Concert </a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Location</th>
            <th>Media</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listConcert)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.description</td>
                <td>@item.location</td>
                <td>@item.media</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditConcert?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteConcert?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>