@page
@model ConcertBuddies.Pages.Client.ReviewListModel
@{
}

<br />
<h2> List of Reviews </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewReview"> New Review </a>
<div class="row">
    <div class="col-sm-12" style="padding-bottom:20px">
        <form enctype="multipart/form-data" method="POST">
            <input type="file" name="file" />
            <button type="submit">Import from Excel</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Concert</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listReview)
        {
            <tr>
                <td>@item.concertID</td>
                <td>@item.description</td>
                <td>@item.rating</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditReview?id=1&concertgoerID=90&description=@item.description&rating=@item.rating">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteReview?id=1&concertgoerID=90&description=@item.description&rating=@item.rating">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>