@page
@model ConcertBuddies.Pages.Client.SongListModel
@{
}

<br />
<h2> List of Songs </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewSong"> New Song </a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listSong)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.album</td>
                <td>@item.genre</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditSong?id=@item.ID&name=@item.name&album=@item.album&genre=@item.genre">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteSong?id=@item.ID&name=@item.name&album=@item.album&genre=@item.genre">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>